.final-form {
  display: flex;
  height: calc(100vh - 60px);

  .form-container {
    flex: 1;
    margin-left: auto;
    margin-right: auto;
  }

  .image {
    flex: 1;
  }

  .simple-table {
    overflow-y: scroll;
    height: 30%;
    width: 100%;
    display: block;

    th {
      width: 50%;
    }

    tr {
      width: 50%;
    }

    td {
      width: 33%;
      text-align: center;
    }
  }
  .past {
    overflow-y: scroll;
    height: 30%;
    width: fit-content;
    display: block;
    th {
      width: 60%;
    }

    tr {
      width: 60%;
    }

    td {
      width: 60%;
      text-align: center;
    }
  }
  .account-table {
    overflow-y: scroll;
    height: 70%;
    width: 100%;
    display: block;

    th {
      width: 40%;
    }

    tr {
      // width: 33%;
    }

    td {
      text-align: center;
    }
  }
}
